PORT=3800
BASE_RPC_URL=https://mainnet.base.org
NEXT_PUBLIC_APP_URL=https://writersarcade.com
API_BACKEND_URL=https://api.snel.famile.xyz/writersarcade
VENICE_API_KEY=
NETMIND_API_KEY=
MODAL_IMAGE_GEN_URL=
ELEVENLABS_API_KEY=
ELEVENLABS_DEFAULT_VOICE_ID=
